<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Imager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
</head>
<body>

<div class="container" id="admin-container">
    <div class="jumbotron" style="padding-top: 0; padding-bottom: 8px; background:#333;  font-family: monospace;">
        <div class="media">
            <div class="media-left">
                <!-- <img src="/img/logo@2.png" class="media-object" style="height:70px"> -->
            </div>
            <div class="media-body">
                <h2 id="admin-terminal"> < âš > Imager</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 admin-wrapper">
            <div id="content">
                <%= form_for @image, html: { multipart: true, class: "dropzone", id: "my-dropzone" } do |f|%>
                    <div class="dz-message needsclick">
                        <h3>Drop file here</h3> or
                        <strong>click</strong> to upload
                    </div>
                    <div class="fallback">
                        <%= f.file_field :image_file %>
                        <%= f.submit "Upload here" %>
                    </div>
                <% end %>
            </div>
    		<table style="" class="table table-condensed">
    			<thead>
                    <th>ID</th>
    				<th>Image</th>
    				<th>Filename</th>
                    <th>Actions</th>
    			</thead>
    			<tbody>
                    <% @all_images.each do |image| %>
    				<tr>
                        <td class="image-id" data="<%= image.id %>"><%= image.id %></td>
                        <td>
                            <a target="_blank" href="/<%= image.id %>">
                                <img src="<%= image.image_file.url :thumb %>">
                            </a>
                        </td>
                        <td style="word-break:break-all;"><%= image.image_file_file_name %></td>
                        <td class="actions-td">
                            <div class="btn-group btn-group-vertical">
                              <button type="button" 
                              class="btn btn-success action-button copy-url"
                              data-clipboard-action="copy" 
                              data-clipboard-text="{html}
                                <a href='http://img.tap0.ru/<%= image.id %>'>
                                <img src='http://img.tap0.ru/raw/<%= image.id %>' alt='<%= image.image_file_file_name %>'>
                                </a>
                                {html}">YouTrack</button>

                                <button type="button" 
                              data-clipboard-action="copy" 
                              data-clipboard-text="http://img.tap0.ru/<%= image.id %>"
                              class="btn btn-primary action-button copy-url">URL</button>                              
                              <button type="button" class="btn btn-danger action-button delete-image">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <% end %>
    			</tbody>
    		</table>
            <%= paginate @all_images, :theme => 'twitter-bootstrap-3' %>
        </div>
    </div>
    <textarea id="bar">test</textarea>
</div>
<br>
<br>
</body>
</html>