<table class="table table-condensed">
	<thead>
        <th>ID</th>
		<th>Image</th>
		<th>Filename</th>
        <th>Actions</th>
	</thead>
	<tbody>
        <% @all_images.each do |image| %>
		<tr>
            <td class="image-id" data="<%= image.id %>"><%= image.id %>
                <a class="mask" target="_blank" href="/<%= image.id %>"></a>
            </td>
            <td>
                <a target="_blank" href="/<%= image.id %>">
                    <img src="<%= image.image_file.url :thumb %>">
                </a>
                <a class="mask" target="_blank" href="/<%= image.id %>"></a>
            </td>
            <td style="word-break:break-all;">
                <a style="z-index:0" class="mask" target="_blank" href="/<%= image.id %>"></a>
                <%= image.image_file_file_name %>
                <br>
                <%= l image.created_at.in_time_zone('Moscow'), format: :short %>
                <br>
                <% image.tags.each do |tag| %>
                    <a class="tag-link" href="/tag/<%= tag.title %>/">

                        <%= tag.title %>
                    </a>
                <% end %>
            </td>
            <td class="actions-td">
                <div class="btn-group btn-group-vertical center">
                  <button type="button" 
                  class="btn btn-success action-button copy-url copy-url-youtrack"
                  data-clipboard-action="copy" 
                  data-clipboard-text="{html}
                    <a href='http://img.tap0.ru/<%= image.id %>'>
                    <img src='http://img.tap0.ru/raw/<%= image.id %>' width=500 alt='<%= image.image_file_file_name %>'>
                    </a>
                    {html}">YouTrack</button>

                    <button type="button" 
                  data-clipboard-action="copy" 
                  data-clipboard-text="http://img.tap0.ru/<%= image.id %>"
                  class="btn btn-primary action-button copy-url">URL</button>                      
                  <a class="red" data-confirm="You sure?" rel="nofollow" data-method="delete" href="/images/<%= image.id %>">Delete</a>
                </div>
            </td>
        </tr>
        <% end %>
	</tbody>
</table>
<%= paginate @all_images, :theme => 'twitter-bootstrap-3' %>